<!-- Info Page -->
<div class="container text-center main">
  <!-- Header -->
  <div class="row" id="dog-info">
    <div class="col jumbotron header">
        <p><strong>ID</strong>: {{dog.id}}</p>
      <h1 id="dog-name">{{dog.dogName}}</h1>
      <p id="dog-birthday">{{dog.birthdate}}</p>
      <p id="dog-sex">{{dog.sex}}</p>
    </div>
  </div>

  <!-- Chart -->
  <div class="row" id="behavior-chart">
      <div class="col card mb-4">
          <h1 class="card-header">Behavior Tracker</h1>
          <canvas id="myChart" width="400" height="200"></canvas>
      </div>
  </div>

  <!-- provide a alert or pop up if behavioral pattern is detected -->
  <!-- <div class="row" id="alert">
      <div class="col">
          <h1>Alery</h1>
          <p id="alertt">alert message</p>
      </div>
  </div> -->

  <!-- Breed Info -->
  <div class="row" id="dog-facts">
      <div class="col card mb-4">
        <h1 class="card-header">Breed Characteristics</h1>
        <p>Select a Breed</p>
        <div id="breed-char card-body banner-message" class="breed_select">{{dog.breed}}
        <select class="breed_select">
            <option></option>
        </select>
        </div>
        <div id="breed_data">
        <p>Breed Data</p>
        <table id="breed_data_table" class="text-right "></table>
        </div>
      </div>

      <div class="col card mb-4">
          <h1 class="card-header">Breed Health Issues</h1>
          <p id="breed-health card-body">Health info {{example.health}}</p>
          <a href="#">links for more info on health issues</a>
      </div>
  </div>
   
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>